.search-form_inline {
    width: 46%;
}
.search-form_button {
    margin-top: -4px;
}

.search-form_input {
    border-radius: 3px 0px 0px 3px;

}
.search-form_b {
    padding: 6px;
    border-radius: 0px 3px 3px 0;
}
.search-form_icon {
    width: 25px;
}

.search-form_icon--55 {
    width: 55px;
}