.column-statistics {
    @include column(1/4);
    @media(max-width: 500px) {
        @include column(1/2);
        margin-bottom: 10px;
    }
}
.column-statistics-1-3 {
    @include column(1/3);
    @media(max-width: 500px) {
        @include column(1/2);
        margin-bottom: 10px;
    }
}

.graph-statistics-income {
    height: 80% !important;
    @media(max-width: 500px) {
        height: 100% !important;
        
    }
    @media(min-width: 1366px) {
        height: 500px !important;
        
    }
}

.graph-statistics-pay {
    height: 80% !important;
    @media(max-width: 500px) {
        height: 100% !important;
        
    }
    @media(min-width: 1366px) {
        height: 30% !important;
    }
}