/*
================================================================================
Dashboard main
================================================================================
*/

.db-main {
    background-color: $color-gray-lighten-5;
    height: calc(100vh - 60px);
    overflow: auto;
    transition: padding-left 200ms linear;
    width: 100%;

    @include media(1100) {
        &--has-menu {
            padding-left: 300px;
        }
    }
}

.text_reset-pass {
    text-align: center;
}
.text_reset-pass a {
    font-size: 12px;
}

.text_remember {
    font-size: 12px;
}


/* Estilo del card wrapper */
.card-wrapper {
    background-color: #fff; /* Fondo blanco */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Sombra más intensa */
    padding: 2rem; /* Espaciado interno */
    margin: 0 auto; /* Centrado */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

